:root
{
    background-color: rgb(228, 228, 228);
    --side-text: white;
    margin: -10px;
    padding: 0px;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

  
a
{
    text-decoration: none;

}

.container
{
    height: 100vh;
    display: inline grid;
    display: grid;
    row-gap: 1.5rem;
    grid-template-areas:
    "sidebar header header header header"
    "sidebar body body body note"
    "sidebar body body body note"
    ;
}
.container > div > div,.posts > div
{
    border-radius: 10px;
}

.your-project
{
    margin-left: 45px;
}
.sidebar
{
    color: var(--side-text);
    grid-area: sidebar;
    background-color: #1992d4;
    padding: 10px;
}

.logo a
{
    margin-left: 30px;
}

.logo svg
{
    max-width: 60px;
}

.sidebar a
{
    gap: 8px;
    color: white;
    display: flex;
}
.sidebar svg
{
    fill: white;
}

ul
{
    list-style-type: none;
}

.header
{
    padding: 5px;
    grid-area: header;
    background-color: rgb(255, 250, 254);
    display: grid;
    grid-template-columns: repeat(2, minmax(50px ,1fr));
    grid-template-rows: repeat(2, minmax(50px ,1fr));
}

.intro, .trending
{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.intro img
{

    max-height: 80px;
    border-radius: 100%;
}

.search
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
    margin-right: 30px;
}
.search > input
{
    height: 25px;
    width: 100%;
    border-radius: 15px;
}

.pro
{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}
.links
{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px;
}
.links button
{
    font-size: 20px;
    background-color: #1992d4;
    color: aliceblue;
    width: 8rem;
    height: 2.5rem;
    border-radius: 20px;
}
.avatar img
{
    max-height: 55px;
    border-radius: 100%;
}
.pro svg
{
    width: 100%;
}

.body
{
    grid-area: body;
}

.note 
{
    padding: 10px;
    min-width: 50px;
    display: grid;
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    gap: 30px;
    grid-area: note;

}
.posts > div
{
    border-width: 4px;
    background-color: white;
    border-left-style: solid;
    border-left-color:rgba(255, 255, 115, 0.883) ;
}

.posts
{   
    padding: 1rem  3rem;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px ,1fr));   
    grid-template-rows: repeat(3, minmax(200px ,1fr));
}
.post
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-btns svg
{
    width: 100%;
}

.post-body
{
    max-width: 200px;
}

.post-btns
{
    display: flex;
    justify-content: end;
    gap: 8px;
}

.news, .trend
{
    padding: 20px;
}

.news-container > :not(:last-child)
{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
}

.news-container p
{
    max-width: 250px;
}

.note > div
{
    background-color: white;
}

svg
{
    max-width: 30px;
}

.trending img
{
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%; 
}