:root
{
    background-color: rgb(228, 228, 228);
    --side-text: white;
}

.container
{
    height: 100vh;
    display: inline grid;
    display: grid;
    row-gap: 3rem;
    column-gap: 2rem;
    grid-template-areas:
    "sidebar header header header header"
    "sidebar body body body note"
    "sidebar body body body note"
    ;
}
.container > div
{
    border-radius: 10px;
}


.sidebar
{
    color: var(--side-text);
    grid-area: sidebar;
    background-color: #1992d4;
}

ul
{
    list-style-type: none;
}

.header
{
    grid-area: header;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px ,1fr));
    grid-template-rows: repeat(2, minmax(50px ,1fr));
}

.search
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
    margin-right: 30px;
}
.search > input
{
    height: 25px;
    width: 100%;
    border-radius: 15px;
}

.pro
{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}
.links
{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links button
{
    font-size: 20px;
    background-color: #1992d4;
    color: aliceblue;
    width: 8rem;
    height: 2rem;
    border-radius: 20px;
}
.avatar img
{
    max-height: 50px;
}
.pro svg
{
    width: 100%;
}

.body
{
    grid-area: body;
    background-color: red;
}

.note 
{
    padding: 10px;
    min-width: 50px;
    display: grid;
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    gap: 8px;
    grid-area: note;
    background-color: green;

}
.posts > div
{
    background-color: white;
    border-left-style: solid;
    border-left-color:yellow ;
}

.posts
{   
    padding: 1rem  3rem;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px ,1fr));   
    grid-template-rows: repeat(3, minmax(200px ,1fr));
}

.news
{
    padding: 20px;
}

.news-container > :not(:last-child)
{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
}

.note > div
{
    background-color: aqua;
}

svg
{
    max-width: 30px;
}